# 由 myapp-ctl 生成的 /etc/myapp/secrets.d/openim.env 提供变量
HOST_IP=${HOST_IP}
OPENIM_MYSQL_ROOT_PASSWORD=${OPENIM_MYSQL_ROOT_PASSWORD}
OPENIM_MYSQL_PASSWORD=${OPENIM_MYSQL_PASSWORD}
OPENIM_MONGO_PASSWORD=${OPENIM_MONGO_PASSWORD}
OPENIM_REDIS_PASSWORD=${OPENIM_REDIS_PASSWORD}
OPENIM_MINIO_ACCESS_KEY=${OPENIM_MINIO_ACCESS_KEY}
OPENIM_MINIO_SECRET_KEY=${OPENIM_MINIO_SECRET_KEY}
OPENIM_SECRET=${OPENIM_SECRET}

OPENIM_MYSQL_PORT=${OPENIM_MYSQL_PORT}
OPENIM_MONGO_PORT=${OPENIM_MONGO_PORT}
OPENIM_REDIS_PORT=${OPENIM_REDIS_PORT}
OPENIM_MINIO_PORT=${OPENIM_MINIO_PORT}
OPENIM_MINIO_CONSOLE_PORT=${OPENIM_MINIO_CONSOLE_PORT}
OPENIM_WS_PORT=${OPENIM_WS_PORT}
OPENIM_API_PORT=${OPENIM_API_PORT}
OPENIM_ADMIN_PORT=${OPENIM_ADMIN_PORT}
